.inputRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  background-color: #e8f0fe;
  transition: box-shadow 0.3s ease;
}

.inputRow:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.ratingRow {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
}

.avatar {
  margin: 0 0.5em 0 0;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings,
.ratingsTotal {
  border-radius: 10px;
  height: 2.5rem;
  width: 3rem;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border: transparent;
  color: #102a43;
  background: #ffffff;
  transition: all 0.3s ease;
  margin: 0.3125em;
  line-height: 2.5em;
}

.ratings {
  flex: 0 1 auto;
  width: 2.5em;
}

.ratingsTotal {
  cursor: default;
  color: #102a43;
  flex: 0 3 auto;
  width: 3.5em;
}
