.inputRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 1em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
  margin: 1em auto;
  background-color: #f5f5f5;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.avatar {
  margin: 0 0.5em 0 0;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings,
.ratingsTotal {
  margin: 0.3125em;
  border-radius: 0.3125em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border: 0.125em solid #ccc;
  background: #fff;
  color: #333;
  font-size: 1em;
}

.ratings {
  flex: 0 1 auto;
  width: 2.5em;
}

.ratingsTotal {
  flex: 0 3 auto;
  width: 3.5em;
  color: lightslategrey;
}

@media (min-width: 768px) {
  .inputRow {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }

  .row {
    flex: 1 1 auto;
    justify-content: flex-start;
    line-height: 1em;
  }

  .userName {
    margin: 0 0.5em 0 0;
  }
}
