.outerContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text {
  color: #fc208a;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
}

@media (min-width: 768px) {
  .outerContainer {
    width: 60%;
  }
}

@media (min-width: 1034px) {
  .outerContainer {
    width: 40%;
  }
}
