.outerContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1em;
  margin: 1em 0;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.description {
  font-weight: 500;
}

.controller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 15em;
}

.textBox {
  margin: 0.5em 0 0 0;
  color: #2c3e50;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  border-radius: 10px;
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 500;
  flex: 1 1 100%;
}

.icon {
  font-size: 2rem;
}
.icon:hover {
  cursor: pointer;
}

.arrows {
  padding: 0.5rem 1rem;
}

@media (min-width: 48em) {
  .outerContainer {
    width: 60%;
  }
}

@media (min-width: 64.625em) {
  .outerContainer {
    width: 40%;
  }
}
